.idea
1_source/de/fontane/tagged
formats
1_source
figures
old/alice.json
old/alice.tsv
backlog_sources
corpus/original
**/__pycache__
Scripts/helpers/tei
2_tagged
3_formats
4_pseudoplain
zz_old
5_corpus
6_results
